@import "../../css/variables.scss";

.order_logo {
    width: 20%;
    text-align: center;
    img {
        width: 80%;
        transition: all 0.3s;
        &:hover {
            width: 100%;
        }
    }
}