@import "../../css/variables.scss";

.order_container {
    padding: 50px;
    height: 50vh;
    background-image: url("../../img/chkchshotpot1.jpg");
    background-size: cover;
    h1 {
        color: $color_white;
        margin-bottom: 50px;
    }
    .order_list {
        display: flex;
        
    }
}
