@import "../../css/variables.scss";

nav {
    background-color: $color_black;
    color: $color_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    .logo {
        font-size: $font_titleB;
        font-weight: bold;
    }
    .logo_sushi {
        color: $color_red;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin-left: 20px;
            padding: 10px;
            a {
                text-decoration: none;
                color: $color_white;
                &:hover {
                    color: $color_red;
                }
            }
            
        }
        .orderNav {
            border: 1px solid $color_white;
            &:hover {
                border: 1px solid $color_red;
                > a {
                    color: $color_red
                }
            }
        }
    }
}