@import "../../css/variables.scss";

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    color: $color_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
    .logo {
        font-size: $font_titleA;
        font-weight: bold;
    }
    .logo_sushi {
        color: $color_red;
    }
    ul {
        list-style: none;
        display: flex;
        
        li {
            margin-left: 20px;
            a {
                display: inline-block;
                padding: 10px;
                transition: all 0.3s;
                &:hover {
                    color: $color_red;
                }
            }
            
        }
        .orderNav {
            border: 1px solid $color_white;
            border-radius: 10px;
            // padding: 0px;
            transition: all 0.3s;
            &:hover {
                border: 1px solid $color_red;
                > a {
                    color: $color_red
                }
            }
        }
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}